/* Responsive CSS */
@media (min-width: 320px) {
    .grid-cols-3 {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
}
.heading h1 {
    font-size: 1.5rem !important;
    width: 90% !important;
}
.search-pokemon {
    width: 70% !important;
}
}
@media (min-width: 600px) {
    .grid-cols-3 {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
}
.heading h1 {
    font-size: 2rem !important;
    width: 90% !important;
}
.search-pokemon {
    width: 50% !important;
}
}
@media (min-width: 991px) {
    .grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
}
.heading h1 {
    font-size: 3rem !important;
    width: 90% !important;
}
.search-pokemon {
    width: 30% !important;
}
}